.naslov{
    font-size: 40px;
    font-family: 'Kalam', cursive;
    margin-top: 15px;
}

.slika{
    width: 20px;
    height: 20px;
}

#tabela {
    background-color: white;
    color: black;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 30px;
}

#tabela td, th {
    border: 1px solid #93A8AC;
}

#tabela tr:hover {
    background-color: lightblue;
    border-radius: 30px;
}

a {
    color: #5F7A61;
    text-decoration: none;
}

a:hover {
    color: orangered;
    font-weight: 500;
}

#tabela tr:last-child td:first-child {
    border-bottom-left-radius: 30px;
}

#tabela tr:last-child td:last-child {
    border-bottom-right-radius: 30px;
}

td{
    width: 33%;
}

