<div class="row">
    <div class="col-sm-12" id="meni">
        <a (click)="zaposleni()" class="meni-link">Početna</a>
        <div class="dropdown">
            <a class="meni-link dropdown-toggle">Proizvodi</a>
            <div class="dropdown-content">
                <a (click)="zaposleniTorte()">Torte</a>
                <a (click)="zaposleniKolaci()">Kolači</a>
                <a (click)="zaposleniNoviProizvod()">Novi proizvod</a>
            </div>
        </div>
        <a (click)="zaposleniProfil()" class="meni-link">Moj nalog</a>
        <a (click)="zaposleniNarudzbine()" class="meni-link">Narudžbine</a>
        <a (click)="logout()" class="meni-link">Odjavi me</a>
    </div>
</div>
