<app-heder-ulogovani></app-heder-ulogovani>
<app-meni-zaposleni></app-meni-zaposleni>

<div class="row sredina">
    <div class="col-sm-12 text-center naslov">{{proizvod.naziv}}</div>
    <div class="row roze">
        <div class="col-sm-5">
            <img src="../../assets/{{proizvod.slika}}" class="slika ">
        </div>
        <div class="col-sm-7 flex">
            <div>
                <span class="bold gore">Opis: &nbsp; &nbsp;</span>
                <div class="inline sivo">{{proizvod.opis}}</div>
            </div>
            <div>
                <span class="bold gore">Sastav: </span>
                <div class="inline sivo">{{proizvod.sastav}}</div>
            </div>
            <div>
                <span class="bold sred">Cena: </span>

                <div class="inline sivo2"
                 *ngIf="!proizvod.naPromociji || trenutnoVreme < proizvod.datumPocetkaPromocije || trenutnoVreme > proizvod.datumKrajaPromocije">
                 {{proizvod.cena}} RSD </div>
                
                <div class="inline sivo2"
                 *ngIf="proizvod.naPromociji && trenutnoVreme >= proizvod.datumPocetkaPromocije && trenutnoVreme <= proizvod.datumKrajaPromocije">
                 {{proizvod.promotivnaCena}} RSD </div>
                &nbsp; &nbsp;
                
                <button class="btn btn-secondary inline" (click)="promocija(proizvod.id)">Dodaj na promociju</button>
            </div>
            <div class="gore">
                <span id="ponistavanje">Komentare možete pogledati <a
                        [routerLink]="['/zaposleniProizvodKomentari', proizvod.id]">OVDE</a></span> <br>
            </div>
        </div>
    </div>
</div>
<div class="row sredina">
    <div class="col-sm-12">
        &nbsp;
    </div>
</div>