<app-heder-ulogovani></app-heder-ulogovani>
<app-meni-kupac></app-meni-kupac>

<div class="row sredina">
    <div class="col-sm-6 offset-3 text-center boja">
        <form class="forma2">
            <h2>Ažuriraj profil</h2>
            <img src="../../assets/login.png">
            <br><br>
            <div class="form-field">
                <input type="text" id="ime" placeholder="Ime..." name='ime' [(ngModel)]='ime'>
            </div>
            <div class="form-field">
                <input type="text" id="prezime" placeholder="Prezime..." name='prezime'
                    [(ngModel)]='prezime'>
            </div>
            <div class="form-field">
                <input type="text" id="korisnickoImeReg" placeholder="Korisničko ime..." name='korisnickoImeReg'
                    [(ngModel)]='korisnickoIme'>
            </div>
            <div class="form-field">
                <input type="text" id="adresaOrg" placeholder="Adresa..." name='adresaOrg'
                    [(ngModel)]='adresa'>
            </div>
            <div class="form-field">
                <input type="text" id="telefon" placeholder="Telefon..." name='telefon'
                    [(ngModel)]='telefon'>
            </div>
            <button id="regBtn" (click)="azurirajProfil()" class="btn btn-secondary dugmeReg">Ažuriraj</button>
            <br><br>
        </form>
    </div>
</div>