<app-heder-ulogovani></app-heder-ulogovani>
<app-meni-kupac></app-meni-kupac>

<div class="row sredina flex">
    <div class="col-sm-6 opis">
        Smešteni u srcu grada, "Slatki zalogaji" postali su sinonim za kvalitet i originalnost. Naša poslastičarnica nije samo prodavnica, već i mesto okupljanja, gde se prijatelji i porodice sastaju da dele radost i proslave posebne trenutke uz naše slatke kreacije. Sa ponosom ističemo našu posvećenost zanatu, što je vidljivo u pažnji koju posvećujemo svakom detalju, od izbora sastojaka do prezentacije krajnjeg proizvoda.
    </div>
    <div class="col-sm-5">
        <div class="mapouter">
            <div class="gmap_canvas">
                <!-- Google mapa -->
                <iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=beograd%20trg%20republike&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
</div>
</div>

<div class="row sredina">
    <div class="col-sm-6 ikona-col">
        <div class="ikona-tekst">
            <img src="../../assets/🦆 icon _home_.png" class="ikona">
            <span class="kalam"> Trg Republike 3, Beograd</span>
        </div>
        <div class="ikona-tekst desno">
            <img src="../../assets/🦆 icon _clock_.png" class="ikona">
            <span class="kalam"> Svaki dan od 09:00 do 20:00</span>
        </div>
    </div>
    <div class="col-sm-6 ikona-col">
        <div class="ikona-tekst">
            <img src="../../assets/🦆 icon _phone_.png" class="ikona">
            <span class="kalam"> 0665080121</span>
        </div>
        <div class="ikona-tekst desno2">
            <img src="../../assets/🦆 icon _mail_.png" class="ikona">
            <span class="kalam"> slatkizalogaji@gmail.com</span>
        </div>
    </div>
</div>



